{% load static %}

<!-- Boxes -->
<div class="boxes">
  <div class="section_container">
    <div class="container">
      <div class="row">
        {% for x in box %}
          <!-- Box -->
          <div class="col-lg-4 box_col">
            <div class="box">
              <div class="box_image"><img src="{{ x.image.url }}" alt=""></div>
              <div class="box_title trans_200"><a href="{% url 'categories' %}">{{ x.title }}</a></div>
            </div>
          </div>
        {% endfor %}
        <!-- Box -->
        {% comment %} <div class="col-lg-4 box_col">
          <div class="box">
            <div class="box_image"><img src="{%  static 'images/box_1.jpg' %}" alt=""></div>
            <div class="box_title trans_200"><a href="{% url 'categories' %}">summer collection</a></div>
          </div>
        </div> {% endcomment %}

        <!-- Box -->
        {% comment %} <div class="col-lg-4 box_col">
          <div class="box">
            <div class="box_image"><img src="{%  static 'images/box_2.jpg' %}" alt=""></div>
            <div class="box_title trans_200"><a href="{% url 'categories' %}">eyewear collection</a></div>
          </div>
        </div> {% endcomment %}

        <!-- Box -->
        {% comment %} <div class="col-lg-4 box_col">
          <div class="box">
            <div class="box_image"><img src="{%  static 'images/box_3.jpg' %}" alt=""></div>
            <div class="box_title trans_200"><a href="{% url 'categories' %}">basic pieces</a></div>
          </div>
        </div> {% endcomment %}

      </div>
    </div>
  </div>
</div>